<!doctype html>
<html lang="ru" data-bs-theme="light">
  <!-- <head><script src="/static/js/color-modes.js"></script> -->

    <meta charset="utf-8">
    <title>Technical Equipment</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.qhDXWpKopYk.L.W.O/d=0/rs=AN8SPfp0QXhhaDDdjg_LgcSqoZiPEzC1tw/m=el_main_css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scroller.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/static/img/printer-icon.svg" sizes="180x180">
    <link rel="icon" href="/static/img/printer-icon.svg" sizes="32x32" type="image/svg+xml">
    <link rel="icon" href="/static/img/printer-icon.svg" sizes="16x16" type="image/svg+xml">
    <link rel="manifest" href="/static/img/printer-icon.svg">
    <link rel="mask-icon" href="/static/img/printer-icon.svg">
    <link rel="icon" href="/static/img/printer-icon.svg">
    <meta name="theme-color" content="#712cf9">


    
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>

    
<header data-bs-theme="dark" class="" style="z-index: 1020; position: sticky; top: 0; width: 100%;">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container row">
      <h2>Возможно понадобится</h2>
    </div>
  </div>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img id="logo" src="/static/img/printer.svg" alt="equipment">
        <strong>Оборудование</strong>
      </a>
      <!-- <form method="GET" action="#">
        <input type="text" name="search">
        <button type="submit" class="btn btn-sm">
          fdf </button>
      </form> -->
      <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
        <form class="d-flex" role="search" method="GET" action="#">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search">
          <button class="btn btn-outline-success" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поиск</font></font></button>
        </form>
      <!-- </div> -->
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Вход</button>
        <button type="button" class="btn btn-warning">Регистрация</button>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  <!-- <hr class="featurette-divider"> -->
  <div class="row featurette" style="width: 100%">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {{.Title}} </font></font><span class="text-body-secondary"></span></h2>
      <div style="margin: 20px">
        <a href="/main">
      <button type="button" class="btn btn-primary" style="margin-right:15px">
        <img src="/static/img/arrow-left.svg" alt="back">
        Назад
      </button>
        </a>
      <button type="button" class="btn btn-primary">
        <img src="/static/img/clipboard-plus.svg" alt="order">
        Заказать
      </button>
      </div>
      <span>
      <p>Всего: {{.Count}}</p>
      <p>Сейчас доступно: {{.AvailableNow}}</p>
    </span>
    </div>
    <div class="col-md-5 order-md-1 equipment-div" style="width: 300px; height: 300px;">
      <img src="{{.Picture}}" alt="picture">
    </div>
  </div>
  <hr class="featurette-divider">
  <div style="margin-left: 60px; margin-right: 60px;">
    <h2>Описание</h2>
    <p>{{.Description}}</p>
  </div>
</main>

<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="padding: 16px;">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2023 Компания, Инк.</font></font></span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="https://github.com/gvidow"><img src="/static/img/github.svg" alt="github"></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://t.me/Gvidow"><img src="/static/img/telegram.svg" alt="Telegram"></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://vk.com/Gvidow"><img src="/static/img/vk.svg" alt="VK"></a></li>
  </ul>
</footer> -->

<script src="/static/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
